<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <DBServer>
    <DbType>SQL2005</DbType>
    <Server>127.0.0.1</Server>
    <ConnectStr>user id=sa;password=1;initial catalog=Codematic;data source=127.0.0.1</ConnectStr>
    <DbName>Codematic</DbName>
    <ConnectSimple>true</ConnectSimple>
  </DBServer>
  <DBServer>
    <DbType>OleDb</DbType>
    <Server>D:\Database1.mdb</Server>
    <ConnectStr>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Database1.mdb;Persist Security Info=False</ConnectStr>
    <DbName />
    <ConnectSimple>False</ConnectSimple>
  </DBServer>
  <DBServer>
    <DbType>MySQL</DbType>
    <Server>127.0.0.1</Server>
    <ConnectStr>server=127.0.0.1;user id=root; Port=3306;password=root; database=mysql; pooling=false</ConnectStr>
    <DbName>mysql</DbName>
    <ConnectSimple>True</ConnectSimple>
  </DBServer>
  <DBServer>
    <DbType>SQLite</DbType>
    <Server>D:\test.s3db</Server>
    <ConnectStr>Data Source=D:\test.s3db</ConnectStr>
    <DbName />
    <ConnectSimple>False</ConnectSimple>
  </DBServer>
  <DBServer>
    <DbType>OleDb</DbType>
    <Server>D:\临时\学生.accdb</Server>
    <ConnectStr>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\临时\学生.accdb;Persist Security Info=False</ConnectStr>
    <DbName />
    <ConnectSimple>False</ConnectSimple>
  </DBServer>
</NewDataSet>